/construkted-tiler/node_modules
/construkted-tiler/lod_test.01
/construkted-tiler/yarn.lock
/construkted-tiler/.idea
/construkted-tiler/test/lod_test.01
/construkted-tiler/test/lod_test.01_tileset
/3dtile-viewer/node_modules
/.idea
*.o
.nfs*
mesh-splitter/*.abc
mesh-splitter/*.mtl
mesh-splitter/*.obj
mesh-splitter/*.gltf
mesh-splitter/*.glb
mesh-splitter/dependencies/installed
mesh-splitter/3dtg-objs

